{% extends "admin/index.html" %}
{% load i18n %}

{% block content %}
{{ block.super }}
{% if request.user.is_active and request.user.is_staff %}
<div class="module" style="margin-top: 20px;">
    <h2>{% trans "Reportes" %}</h2>
    <table>
        <tr>
            <td><a href="{% url 'core:sales_report' %}">{% trans "Reporte de ventas" %}</a></td>
        </tr>
        <tr>
            <td><a href="{% url 'core:stock_report' %}">{% trans "Reporte de stock" %}</a></td>
        </tr>
    </table>
</div>
{% endif %}
{% endblock %}